services:
  backend-server:
    build:
      context: ./backend-api
    image: backend-server:local
    container_name: backend-server
    env_file:
      - ./.env
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      - JAVA_OPTS=-Xmx512m -Xms256m
    depends_on:
      - postgres
      - redis
    networks:
      - backend-net
    ports:
      - "8081:8080"

  websocket-server:
    build:
      context: ./websocket-server
    image: docker.io/${DOCKER_USERNAME}/websocket-server:${IMAGE_TAG:-latest}
    container_name: websocket-server
    env_file:
      - ./.env
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
      - JAVA_OPTS=-Xmx512m -Xms256m
    depends_on:
      - redis
    networks:
      - backend-net
    ports:
      - "8091:8090"

  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend-net
    ports:
      - "127.0.0.1:5432:5432"

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    networks:
      - backend-net
    ports:
      - "127.0.0.1:6379:6379"

volumes:
  postgres-data:
  redis-data:

networks:
  backend-net:
